body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
    display: flex;
    height: 612px;
    width: 612px;
    flex-wrap: wrap;
}

.square{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    
}

.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}

